body{
    background-color: white;
}

h1 {
    font-size: 64px!important;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: 18px;
}

.about-section {
    padding: 30px 30px;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(108, 99, 255);
    padding: 20px 25px;
}

.btn:hover {
color: black;
background-color: rgb(108, 99, 255);
}

.learn-btn:hover {
    color: black;
background-color: white;
}

.contact-btn:hover {
    color: black;
background-color: white;
}

nav {
    padding: 20px 0;
    
}
nav ul {
    padding: 0;
    margin: 0;
    
}
nav li{
 display: inline;
 list-style: none;
 line-height: 42px;
 margin-left: 15px;
 
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

nav a:hover, li.active a  {
   
    color: rgb(109, 99, 255);
}
